In [1]:
print('hello world')

hello world

In [2]:
print("hello world")

hello world

In [3]:
print('sara's book')

SyntaxError: unterminated string literal (detected at line 1) (295983814.py, line 1)

In [ ]:
# Python is assuming that string is just sara and other irrelevent, so use any othe type of commas like ("") to not get error.

In [4]:
print("sara's book")

sara's book

In [5]:
print("sara"s book")

SyntaxError: unterminated string literal (detected at line 1) (984155826.py, line 1)

In [70]:
# Python is assuming that string is just sara and other irrelevent, so use any othe type of commas like ('') to not get error.

In [6]:
print('sara"s book')

sara"s book

In [7]:
'khushboosaleem23@gmail.com'

'khushboosaleem23@gmail.com'

In [8]:
"khushboosaleem23@gmail.com"

'khushboosaleem23@gmail.com'

In [9]:
print("khushboosaleem23@gmail.com")

khushboosaleem23@gmail.com

In [10]:
# int
# str
# float

## Typecasting

In [11]:
type("20000")

str

In [12]:
int('20000')

20000

In [13]:
type(int('20000'))

int

In [14]:
print(type(float('50000.0')))

<class 'float'>

In [15]:
print(type('50000.0'))

<class 'str'>

In [16]:
float(20000)

20000.0

In [17]:
int(2000.0)

2000

In [18]:
int('123')

123

In [19]:
float('456')

456.0

In [20]:
int('456.0')

ValueError: invalid literal for int() with base 10: '456.0'

In [71]:
# 450.0 is a decimal and known as float, Single quotation marks shows it as string, whereas you want it convert as an integer.

In [21]:
# float()
# int()
# str()

In [22]:
456

456

In [23]:
str(456)

'456'

In [24]:
print(type(str(456)))

<class 'str'>

In [25]:
Print(type(str(456)))

NameError: name 'Print' is not defined

In [72]:
# Case sensitive

In [27]:
str(456.0)

'456.0'

In [28]:
int('khush')

ValueError: invalid literal for int() with base 10: 'khush'

In [73]:
# integers are numbers, and you can't convert your text data to numbers.

In [29]:
'5'+'6'

'56'

In [74]:
# it considers the data as string and not integer.

In [30]:
5+6

11

In [31]:
'20000'+'30000'

'2000030000'

In [32]:
name = 'khush'
name

'khush'

In [34]:
name = "khush"
age  = 24

In [35]:
age

24

In [36]:
name

'khush'

In [ ]:
# Your variable can't have space, hyphen between them or any number coming at start, as the variable will be considered as illegal variable.

In [37]:
my var = 123
my var

SyntaxError: invalid syntax (3853759419.py, line 1)

In [38]:
my-var = 123
my-var

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4174989201.py, line 1)

In [39]:
2myvar  = 20
2myvar

SyntaxError: invalid decimal literal (3717639743.py, line 1)

In [1]:
# Whereas Your variable can have underscore, or number between them or even at end, as the variable will be considered as legal variable.

In [40]:
my_var = 123
my_var

123

In [41]:
myvar3 = 123
myvar3

123

In [76]:
my2var = 321
my2var

321

In [42]:
name

'khush'

In [43]:
Name

NameError: name 'Name' is not defined

In [78]:
# Case sensitive.

In [79]:
x = 5

In [48]:
x

5

In [49]:
x+10

15

In [50]:
y = x+10   # 5+10 --> 15
z = 30+y   # 30+15 --> 45
z

45

In [51]:
x

5

In [52]:
y

15

In [53]:
x+y

20

In [54]:
x-y

-10

In [55]:
10*5

50

In [56]:
5**3    # 5*5*5

125

In [ ]:
# ** use as power.

In [57]:
5/3

1.6666666666666667

In [58]:
5//3

1

In [1]:
# // means division done and round the value before dot.

In [59]:
5%3

2

In [2]:
# After division what comes as remainder.

In [60]:
salary = 20000
salary

20000

In [61]:
salary + 5000

25000

In [62]:
salary

20000

In [63]:
salary = salary + 5000

In [64]:
salary

25000

In [65]:
x

5

In [66]:
y

15

In [67]:
x*y

75

In [68]:
print(x)
print(y)

5
15

In [69]:
print(x,y)

5 15