In [1]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']

## Q1) What is the length of the salaries list.

In [2]:
len(salaries)

7

## Q2) Retrieve the third salary in the list by using index.

In [3]:
salaries[2]

'50k'

## Q3) Extract the last salary from the list by using a negative index.

In [4]:
salaries[-1]

'40k'

## Q4) Slice the salaries list to get only the middle three salaries.

In [5]:
salaries[2:5]

['50k', '60k', '35k']

## Q5a) Add a new salary to the list, ‘100k’ by using append() method.

In [6]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

In [7]:
salaries.append("100k")

In [8]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

## Q5b) Add a new salary to the list, ‘120k’ without method.

In [9]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

In [10]:
salaries += ['110k']

In [11]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '110k']

In [12]:
salaries = salaries + ['120k']

In [13]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '110k', '120k']

In [14]:
salaries = [salaries, "130k"]

In [15]:
salaries

[['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '110k', '120k'],
 '130k']

## Q6) Replace the third salary in the list with '55k' and print the updated list.

In [16]:
salaries

[['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '110k', '120k'],
 '130k']

In [17]:
salaries[0][2] = '55k'

In [18]:
salaries

[['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '110k', '120k'],
 '130k']

## Q7) Count how many times '40k' appears in the list.

In [19]:
salaries

[['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '110k', '120k'],
 '130k']

In [20]:
salaries[0].count('40k')

2

In [21]:
salaries = [['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '110k', '120k'], '130k']
count = 0
for salary in salaries[0]:
    if salary == "40k":
        count += 1
if salaries[1] == "40k":
    count += 1

In [22]:
print("The number of times '40k' appears:", count)

The number of times '40k' appears: 2

## Q8) Insert a new salary at the second position.

In [25]:
salaries

[['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '110k', '120k'],
 '130k']

In [26]:
salaries[0].insert(1, '35k')

In [27]:
salaries

[['20k',
  '35k',
  '40k',
  '55k',
  '60k',
  '35k',
  '89k',
  '40k',
  '100k',
  '110k',
  '120k'],
 '130k']

In [28]:
new_salary = '30k'
salaries[0][1] = new_salary
print("Updated salaries list:", salaries)

Updated salaries list: [['20k', '30k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '110k', '120k'], '130k']

## Q9) Reverse the order of the salaries list with method.

In [37]:
salaries

[['20k',
  '30k',
  '40k',
  '55k',
  '60k',
  '35k',
  '89k',
  '40k',
  '100k',
  '110k',
  '120k'],
 '130k']

In [38]:
salaries.reverse()

In [39]:
salaries

['130k',
 ['20k',
  '30k',
  '40k',
  '55k',
  '60k',
  '35k',
  '89k',
  '40k',
  '100k',
  '110k',
  '120k']]

## Q10) Reverse the order of the salaries list without method.

In [32]:
salaries

['130k',
 ['20k',
  '30k',
  '40k',
  '55k',
  '60k',
  '35k',
  '89k',
  '40k',
  '100k',
  '110k',
  '120k']]

In [33]:
reversed_salaries = salaries[::-1]

In [34]:
reversed_salaries

[['20k',
  '30k',
  '40k',
  '55k',
  '60k',
  '35k',
  '89k',
  '40k',
  '100k',
  '110k',
  '120k'],
 '130k']