## Identity Operators (IS - IS NOT)

Identity operators are used to compare the memory location of two objects. These are different from the relational operators because they check if two variables refer to the same object, not if their values are equal. (returns True or False) (optimization, performance enhancement)

In [3]:
#basic example (immutable)
#is
a = 1 
b = 1
#save one copy

print(a is b)

#function id
print(id(a))
print(id(b))

True
140734687160760
140734687160760

In [4]:
a = "python"
b = "python"

# print(a is b)
id(a)
id(b)

3177135570160

In [1]:
# If we write the variables alone the last one will over ride the remaining.

In [6]:
a = "python"
b = "python"

print(a is b)
print(id(a))
print(id(b))

True
3177135570160
3177135570160

In [8]:
#input
x = input("enter")
y = input("enter")

print(x is y)
print(id(x))
print(id(y))

enter python
enter python

False
3177228719552
3177228719888

In [9]:
x = int(input("enter"))
y = int(input("enter"))

print(x is y)
print(id(x))
print(id(y))

enter 1
enter 1

True
140734687160760
140734687160760

In [10]:
# Identity with mutable objects
a = [1,2,3]
b = [1,2,3]
c = [1,2,3]
print(a == b) 
print(a is b)

True
False

In [11]:
# Identity with mutable objects
a = [1,2,3]
b = [1,2,3]
c = [1,2,3]

print(a is b)
print(id(a)) #location
print(id(b)) #location

False
3177228663232
3177228654528

In [12]:
# Identity with mutable objects
a = [1,2,3]
b = a #python assigned same location
c = [1,2,3]

print(a is b)
print(id(a))
print(id(b))

True
3177228709696
3177228709696

In [13]:
# Integer Memory Range (Caching Behavior) -5 to 256 faster results

a = 256
b = 256
print(a == b)
print(a is b)
print(id(a))
print(id(b))

True
True
140734687168920
140734687168920

In [14]:
x = 257
y = 257

print(x == y)
print(x is y)
print(id(x))
print(id(y))

True
False
3177228600944
3177228602192

In [20]:
# Difference between == and is:
# a == b
# a is b

a = 555
b = 555

print(a == b)
print(a is b)

True
False

In [15]:
#is not
a = 256
b = 256

print(a is not b)

False

In [16]:
#is not
a = 257
b = 257

print(a is not b)

True

In [17]:
# short string / long string
a = "python is beautiful"
b = "python is beautiful"
print(a is b)

print(id(a))
print(id(b))

False
3177228831280
3177228831088

In [2]:
# Since there are spaces among the words so jupyter has saved them in separate locations.

In [18]:
a = "pythonisbeautiful"
b = "pythonisbeautiful"
print(a is b)

print(id(a))
print(id(b))

True
3177228830704
3177228830704

In [19]:
x='python_world'
y='python_world'

print(x is y)

print(id(x))
print(id(y))

True
3177228834160
3177228834160

In [ ]:
!pip install sys

In [21]:
import sys
# sys.getsizeof()

a = "bytes"

x = [1, 2, 3]
print(sys.getsizeof(x),a)

y = 100
print(sys.getsizeof(y),a)

z = "Hi, We are learning python"
print(sys.getsizeof(z),a)

88 bytes
28 bytes
67 bytes

In [6]:
#office example (practice)
ali = ['manager', 'office location', 'salary']
ahmed = ali
khan = ['manager', 'office location', 'salary']

In [4]:
ahmed is ali

True

In [5]:
print(id(ahmed))
print(id(ali))

2132258494080
2132258494080

## Membership Operators (IN - NOT IN)

Membership operators are used to test whether a value is present in a sequence (such as a list, tuple, or string). These operators are often used in loops or conditions to check membership. (returns Ture or False)

In [27]:
#basic example
a = "python"
b = "python"

print(y in a)

TypeError: 'in <string>' requires string as left operand, not int

In [28]:
#basic example
a = "python"
b = "python"

print('y' in a)

True

In [30]:
#returns true/false or customize action (if/loop/function etc) if value exists in sequence
#cars list

cars = ['mehran','ferrari','sportage']
print('ferrari' in cars)

True

In [31]:
cars = ['mehran','ferrari','sportage']
cars[0]
# print('ferrari' in cars)

'mehran'

In [32]:
len(cars)

3

In [34]:
#not in

cars = ['mehran','ferrari','sportage']
print('laptop' not in cars)

True

In [35]:
# Difference between == and in:
#a == b
#1 in a/b

a=['apple','mango','orange']
b=['apple','mango','orange']

print(a == b)
print('mangoooooo' in a)

True
False

In [36]:
# Edge Cases ""
# Empty sequences []
# Case-sensitivity apple Apple

a = ""
print("" in a)

True

In [37]:
a = ""
print("a" in a)

False

In [38]:
# Empty sequences []

a = []
print(1 in a)

False

In [39]:
a = []
print([] in a) #important to note

False

In [40]:
a = []
print([0] in a) #important to note

False

In [41]:
a = [0]
print([0] in a) #important to note

False

In [43]:
# Case-sensitivity apple Apple

a = "python"
print('Python' in a)

False

In [44]:
#practice
#find out students class
name = ['ali','ahmed','shah']
campus = ['A','B','C']

## Tuple () (Data Structure)

In [45]:
()

#Ordered
a = ('ali', 14, 'student')

#Allow duplicates:
#Can store mixed data types:
#Indexing and Slicing:
#empty_tuple
# single_element_tuple = (5,)
#nested tuple
#Immutable

In [46]:
a

('ali', 14, 'student')

In [47]:
type(a)

tuple

In [48]:
type([])

list

In [49]:
type(())

tuple

In [50]:
type("")

str

In [51]:
#Can store mixed data types:
a = ('ali', 14, 141.2,'father name')
a

('ali', 14, 141.2, 'father name')

In [52]:
a = ('ali', 14, 141.2,'father name')
a(2)

TypeError: 'tuple' object is not callable

In [53]:
a = ('ali', 14, 141.2,'father name')
a[2]

141.2

In [62]:
a = ('ali', 14, 141.2,'father name')
a[2]= '166.3'

TypeError: 'tuple' object does not support item assignment

In [55]:
# dir
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [56]:
#indexing
a = ('ali', 14, 141.2,'father name')
a[1]

14

In [57]:
#slicing
a = ('ali', 14, 141.2,'father name')
a[0:3]

('ali', 14, 141.2)