## Tuple ()

In [1]:
# Concatenation
a = (1,3)
b = (4,6)
c = a + b
c

(1, 3, 4, 6)

In [2]:
# Concatenation #unordered
a = (1,4)
b = (7,6)
c = a + b
c

(1, 4, 7, 6)

In [3]:
# Repetition
a=(1,2,3,'c')*2
a

(1, 2, 3, 'c', 1, 2, 3, 'c')

In [4]:
a=(1,2,3,'c')+2
a

TypeError: can only concatenate tuple (not "int") to tuple

In [5]:
a=(1,2,3)-2
a

TypeError: unsupported operand type(s) for -: 'tuple' and 'int'

In [6]:
a=(1,2,3)-(1,3,6)
a

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [7]:
a=(1,2,3)-(1,2,3)
a

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [8]:
#immutability
a=(1,2,4,5)
a[1]='abc'

TypeError: 'tuple' object does not support item assignment

In [9]:
#immutability
a=(1,2,4,5)
a[-1]='abc'

TypeError: 'tuple' object does not support item assignment

In [98]:
# Access List
a=(1,2,4,5,[1,2,4])
a[4]

[1, 2, 4]

In [99]:
a=(1,2,4,5,[1,'b',4])
a[4][1]

'b'

In [100]:
a=(1,2,4,5,[1,'b',4])
a[4][1]='x'
a

(1, 2, 4, 5, [1, 'x', 4])

In [101]:
a=(1,2,4,5)
a[2]='x'

TypeError: 'tuple' object does not support item assignment

In [14]:
#nested tuple
nested_tuple = (1, (2, 3), (4, 5, 6))
nested_tuple

(1, (2, 3), (4, 5, 6))

In [1]:
a = (1,2,('a','b'),7,8)
a[2][1]

'b'

In [2]:
a[2][1]= 'x'

TypeError: 'tuple' object does not support item assignment

## Packing and Unpacking in Tuples

Packing refers to the process of combining multiple values into a tuple, and Unpacking is extracting those values back from the tuple into individual variables.

In [110]:
# #packing
person_info = ("John", 25, "Software Engineer")
person_info

('John', 25, 'Software Engineer')

In [111]:
#unpacking
name, age, job = person_info
# name
# age
# job

In [112]:
#unpacking
name, age, job = person_info
name
# age
# job

'John'

In [113]:
#unpacking
name, age, job = person_info
# name
age
# job

25

In [114]:
#unpacking
name, age, job = person_info
# name
# age
job

'Software Engineer'

In [115]:
person_info

('John', 25, 'Software Engineer')

In [116]:
# #packing
person_info = ("John", "Software Engineer", 25)
person_info

('John', 'Software Engineer', 25)

In [118]:
name

'John'

In [119]:
age

'Software Engineer'

In [21]:
job

25

In [3]:
# means it follows the sequence which you've provided.

In [22]:
values = ("Apple", "Banana", "Cherry", "Grapes")
first, second, *others = values
first

'Apple'

In [23]:
values = ("Apple", "Banana", "Cherry", "Grapes")
first, second, *others = values
second

'Banana'

In [25]:
values = ("Apple", "Banana", "Cherry", "Grapes")
first, second, *others = values
*others

SyntaxError: can't use starred expression here (3894210640.py, line 3)

In [24]:
values = ("Apple", "Banana", "Cherry", "Grapes")
first, second, *others = values
others

['Cherry', 'Grapes']

In [26]:
values = ("Apple", "Banana", "Cherry", "Grapes")
values

('Apple', 'Banana', 'Cherry', 'Grapes')

In [27]:
values = ("Apple", "Banana", "Cherry", "Grapes")
list(values)

['Apple', 'Banana', 'Cherry', 'Grapes']

In [28]:
abc = ["Apple", "Banana", "Cherry", "Grapes"]
tuple(abc)

('Apple', 'Banana', 'Cherry', 'Grapes')

In [6]:
details = ("Alice", 30, "Manager", "New York")
name, age, role, _ = details
name
age

30

In [120]:
# if you can't type the variables without print, the last variable will overwrite the remaining.

In [7]:
details = ("Alice", 30, "Manager", "New York")
name, age, role, _ = details
print(name)
print(age)

Alice
30

In [8]:
details = ("Alice", 30, "Manager", "New York")
name, age, role, _ = details
print(_)

New York

In [122]:
details = ("Alice", 30, "Manager", "New York",'apple')
name, age, role, _ , _= details
_

'apple'

In [123]:
details = ("Alice", 30, "Manager", "New York",'apple')
name, age, role, _ = details
_

ValueError: too many values to unpack (expected 4)

In [124]:
details = ("Alice", 30, "Manager", "New York",'apple')
name, age, role, _, _ = details
_, _

('apple', 'apple')

In [125]:
details = ("Alice", 30, "Manager", "New York",'apple')
name, age, role, _, _ = details
print(_)
print(_)

apple
apple

## Dictionary {key:value}

In Python, a dictionary is an unordered, mutable collection of key-value pairs. It is one of the most versatile data structures in Python, allowing you to efficiently store and retrieve data based on custom keys.

In [33]:
#unordered
#mutable
#indexed by key
#no duplicates

In [34]:
#first dict

my_dict1 = {
    'name' = 'ali',
    'age' = 22
}
my_dict1

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2577826987.py, line 4)

In [37]:
my_dict = {
    "name": "Alice"
    "age": 25
    "city": "New York"
}
my_dict #key : value

SyntaxError: invalid syntax (1711982542.py, line 3)

In [35]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [36]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York",
}
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [38]:
#indexed by key
# Accessing Values in a Dictionary
# Unlike lists, which are indexed by numbers, dictionaries use keys to access values.
my_dict[0]

KeyError: 0

In [39]:
my_dict['city']

'New York'

In [40]:
#no duplicates
# Each key in a dictionary must be unique, but different keys can have the same value.
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York",
    "age": 22
}
my_dict

{'name': 'Alice', 'age': 22, 'city': 'New York'}

In [4]:
# if different keys have the same value, the last one will override the remaining.

In [41]:
my_dict["age"]

22

In [42]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [43]:
#Modifying a Dictionary
my_dict['email']='abc@gmail.com'
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'abc@gmail.com'}

In [44]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York",
}
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [45]:
my_dict['age']=44
my_dict

{'name': 'Alice', 'age': 44, 'city': 'New York'}

In [46]:
len(my_dict)

3

In [47]:
dir(my_dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [126]:
keys = ["a", "b", "c"]
new_dict = dict.fromkeys(keys, 0)
new_dict

{'a': 0, 'b': 0, 'c': 0}

In [17]:
keys = ["a", "b", "c"]
values = 4
new_dict = dict.fromkeys(keys, values)
new_dict

{'a': 4, 'b': 4, 'c': 4}

In [127]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [5]:
#difference between del, pop, popitem, clear

In [128]:
# Removing Items
del my_dict["age"]
my_dict

{'name': 'Alice', 'city': 'New York'}

In [51]:
my_dict.popitem() #get dict empty #run 3 times

('city', 'New York')

In [7]:
# popitem delete the last one from dict.

In [55]:
my_dict

{'name': 'Alice'}

In [56]:
my_dict.pop('name')

'Alice'

In [57]:
my_dict

{}

In [61]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [68]:
my_dict.clear()

In [69]:
my_dict

{}

In [134]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [72]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [73]:
my_dict.values()

dict_values(['Alice', 25, 'New York'])

In [74]:
my_dict.items()

dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

In [135]:
dict2 = {
    "student": "Ali",
    "rollno": 22,
    "state": "Punjab"
}
dict2

{'student': 'Ali', 'rollno': 22, 'state': 'Punjab'}

In [132]:
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [141]:
my_dict.update(dict2)
my_dict

{'name': 'Alice',
 'age': 25,
 'city': 'New York',
 'student': 'Ali',
 'rollno': 22,
 'state': 'Punjab'}

In [142]:
print(my_dict.get("name"))

Alice

In [143]:
print(my_dict.get("address"))

None

In [144]:
bye_dict = {"name": "Alice"}
bye_dict.setdefault("age", 25)
print(bye_dict)

{'name': 'Alice', 'age': 25}

In [79]:
# Nesting Dictionaries
nested_dict = {
    "person1": {"name": "Alice", "age": 25},
    "person2": {"name": "Bob", "age": 30}
}
nested_dict

{'person1': {'name': 'Alice', 'age': 25},
 'person2': {'name': 'Bob', 'age': 30}}

In [80]:
nested_dict["person1"]['age']

25

In [81]:
nested_dict["person1"]['age']=55
nested_dict

{'person1': {'name': 'Alice', 'age': 55},
 'person2': {'name': 'Bob', 'age': 30}}

In [82]:
my_dict3 = dict(name = 'ali', age = 34 , job = 'engineer') #dict as constructor
print(my_dict3)

{'name': 'ali', 'age': 34, 'job': 'engineer'}

In [83]:
#errors
my_dict = {"name": "Alice"}
print(my_dict["age"])  # KeyError: 'age'

KeyError: 'age'

In [84]:
my_dict = {[1, 2, 3]: "list as key"}  # TypeError

TypeError: unhashable type: 'list'

## SET {}

A set in Python is an unordered collection of unique elements. This means that a set cannot contain duplicate values, and the elements are stored in no specific order.
Unordered: The elements in a set do not maintain any specific order.
Unique: Sets cannot contain duplicate elements. If you try to add a duplicate element, it will not be added.
Mutable: You can add or remove elements from a set after it is created.
No indexing: Sets do not support indexing or slicing like lists.

In [86]:
#first set

name = {1,33,5,'abc',447.5,'pqr',1,1,1,33} 
name

{1, 33, 447.5, 5, 'abc', 'pqr'}

In [87]:
#set

fruits = {'apple','banana','coconut',1,2,3}
fruits

{1, 2, 3, 'apple', 'banana', 'coconut'}

In [88]:
#set as constructor
a = ['sky','cloud','apple',2,55,7,2,2,'sky']
b = set(a)

In [91]:
b

{2, 55, 7, 'apple', 'cloud', 'sky'}

In [89]:
len(a)

9

In [90]:
len(b)

6

In [92]:
dir(set())

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [93]:
#concatenation
#update

In [8]:
#difference between remove, discard, pop, clear

In [150]:
fruits = {"apple", "banana", "cherry", "orange"}

fruits.remove("banana")
print(fruits)

# fruits.discard("orange")
# print(fruits)

# fruits.pop()
# print(fruits)

# fruits.clear()
# print(fruits)

{'orange', 'apple', 'cherry'}

In [151]:
fruits = {"apple", "banana", "cherry", "orange"}

# fruits.remove("banana")
# print(fruits)

fruits.discard("orange")
print(fruits)

# fruits.pop()
# print(fruits)

# fruits.clear()
# print(fruits)

{'banana', 'apple', 'cherry'}

In [149]:
fruits = {"apple", "banana", "cherry", "orange"}

# fruits.remove("banana")
# print(fruits)

fruits.discard("mango")
print(fruits)

# fruits.pop()
# print(fruits)

# fruits.clear()
# print(fruits)

{'orange', 'banana', 'apple', 'cherry'}

In [152]:
fruits = {"apple", "banana", "cherry", "orange"}

# fruits.remove("banana")
# print(fruits)

# fruits.discard("orange")
# print(fruits)

fruits.pop()
print(fruits)

# fruits.clear()
# print(fruits)

{'banana', 'apple', 'cherry'}

In [153]:
fruits = {"apple", "banana", "cherry", "orange"}

# fruits.remove("banana")
# print(fruits)

# fruits.discard("orange")
# print(fruits)

# fruits.pop()
# print(fruits)

fruits.clear()
print(fruits)

set()

In [155]:
# #operation on set

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

union_set = set1 | set2
print(union_set)

# intersection_set = set1 & set2
# print(intersection_set)

# difference_set = set1 - set2
# print(difference_set)

# sym_diff_set = set1 ^ set2 #returns except commmon
# print(sym_diff_set)

{1, 2, 3, 4, 5, 6}

In [156]:
# #operation on set

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# union_set = set1 | set2
# print(union_set)

intersection_set = set1 & set2
print(intersection_set)

# difference_set = set1 - set2
# print(difference_set)

# sym_diff_set = set1 ^ set2 #returns except commmon
# print(sym_diff_set)

{3, 4}

In [157]:
# #operation on set

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# union_set = set1 | set2
# print(union_set)

# intersection_set = set1 & set2
# print(intersection_set)

difference_set = set1 - set2
print(difference_set)

# sym_diff_set = set1 ^ set2 #returns except commmon
# print(sym_diff_set)

{1, 2}

In [158]:
# #operation on set

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# union_set = set1 | set2
# print(union_set)

# intersection_set = set1 & set2
# print(intersection_set)

# difference_set = set1 - set2
# print(difference_set)

sym_diff_set = set1 ^ set2 #returns except commmon
print(sym_diff_set)

{1, 2, 5, 6}

In [166]:
set_1 = {"Alice", "Bob", "Charlie", "Dave"}

In [167]:
set = set_1
set.add("Rosy")
set

{'Alice', 'Bob', 'Charlie', 'Dave', 'Rosy'}

In [175]:
set_01 = {"Alice", "Bob"}
set_02 = {"Eve", "Frank"}
print(set_01.isdisjoint(set_02))

True

In [176]:
set_1 = {"Alice", "Bob", "Charlie", "Dave"}
set_2 = {"Charlie", "Dave", "Eve", "Frank"}
print(set_1.isdisjoint(set_2))

False

In [174]:
set_01 = {"Alice", "Bob"}
set_1 = {"Alice", "Bob", "Charlie", "Dave"}
print(set_01.issubset(set_1))

True

In [177]:
set_2 = {"Charlie", "Dave", "Eve", "Frank"}
set_02 = {"Eve", "Frank"}
print(set_2.issuperset(set_02))

True

In [178]:
set_1 = {"Alice", "Bob", "Charlie", "Dave"}
set_2 = {"Charlie", "Dave", "Eve", "Frank"}
print(set_1.symmetric_difference(set_2))

{'Eve', 'Alice', 'Frank', 'Bob'}

In [179]:
set_69 = {1, 2, 3}
set_69.update([4, 5])
print(set_69)

{1, 2, 3, 4, 5}