#### Why do we use for loop in python?

A for loop in Python is used to iterate over a sequence (like a list, tuple, string, or range) and execute a block of code repeatedly for each item in the sequence. It helps automate repetitive tasks, making the code more concise and efficient

In [2]:
# Tuple
my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

In [3]:
print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[2])
print(my_tuple[3])
print(my_tuple[4])

1
2
3
4
5

In [4]:
for i in my_tuple:
    print(i)

1
2
3
4
5

In [50]:
# Industry norms to write i in for loop, you may use anyother.

In [5]:
for name in my_tuple:
    print(name)

1
2
3
4
5

In [6]:
# List
my_list = ['apple', 'banana', 'cherry']
my_list

['apple', 'banana', 'cherry']

In [7]:
for fruit in my_list:
    print(fruit)

apple
banana
cherry

In [8]:
# String
my_string = "hello"
my_string

'hello'

In [9]:
for i in my_string:
    print(i)

h
e
l
l
o

In [1]:
my_string = "Hello, Moiz here!"

# Split the string by spaces
words = my_string.split() 

# Print each word on a new line
for i in words:
    print(i)

Hello,
Moiz
here!

In [10]:
cities = ['karachi','hyderabad', 'islamabad', 'quetta','lahore']

In [12]:
print(cities[0])
print(cities[1])
print(cities[2])
print(cities[3])
print(cities[4])

karachi
hyderabad
islamabad
quetta
lahore

In [11]:
for city in cities:
    print(city)

karachi
hyderabad
islamabad
quetta
lahore

In [13]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [16]:
for i in range(2,21,2):
    print(f"2 * {i//2} = {i}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [17]:
2/2

1.0

In [18]:
2//2

1

In [19]:
for i in range(3,31,3):
    print(f'3 * {i//3} = {i}')

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [20]:
for i in range(10):
    print('''I'm Happy''')

I'm Happy
I'm Happy
I'm Happy
I'm Happy
I'm Happy
I'm Happy
I'm Happy
I'm Happy
I'm Happy
I'm Happy

In [21]:
for i in range(10):
    print(i + ''': I'm Happy''')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [2]:
for i in range(10):
    print(i + ": I'm Happy")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
for i in range(10):
    print(str(i) + ": I'm Happy")

0: I'm Happy
1: I'm Happy
2: I'm Happy
3: I'm Happy
4: I'm Happy
5: I'm Happy
6: I'm Happy
7: I'm Happy
8: I'm Happy
9: I'm Happy

In [23]:
for i in range(0):
    print(str(i) + ": I'm Happy")

In [24]:
for i in range(51,71):
    print(str(i) + ''': I'm Happy''')

51: I'm Happy
52: I'm Happy
53: I'm Happy
54: I'm Happy
55: I'm Happy
56: I'm Happy
57: I'm Happy
58: I'm Happy
59: I'm Happy
60: I'm Happy
61: I'm Happy
62: I'm Happy
63: I'm Happy
64: I'm Happy
65: I'm Happy
66: I'm Happy
67: I'm Happy
68: I'm Happy
69: I'm Happy
70: I'm Happy

In [25]:
cities

['karachi', 'hyderabad', 'islamabad', 'quetta', 'lahore']

In [26]:
for index, city in enumerate(cities):
    print(f'{index} : {city}')

0 : karachi
1 : hyderabad
2 : islamabad
3 : quetta
4 : lahore

## Nested for loop

In [27]:
cities

['karachi', 'hyderabad', 'islamabad', 'quetta', 'lahore']

In [28]:
visited_cities = ['islamabad', 'multan','faisalabad','quetta','peshawar']
visited_cities

['islamabad', 'multan', 'faisalabad', 'quetta', 'peshawar']

In [29]:
for city in cities:
    for visited_city in visited_cities:
        print(city, visited_city)

karachi islamabad
karachi multan
karachi faisalabad
karachi quetta
karachi peshawar
hyderabad islamabad
hyderabad multan
hyderabad faisalabad
hyderabad quetta
hyderabad peshawar
islamabad islamabad
islamabad multan
islamabad faisalabad
islamabad quetta
islamabad peshawar
quetta islamabad
quetta multan
quetta faisalabad
quetta quetta
quetta peshawar
lahore islamabad
lahore multan
lahore faisalabad
lahore quetta
lahore peshawar

In [30]:
cities_tuple = ('karachi', 'hyderabad', 'islamabad', 'quetta', 'lahore')
cities_tuple

('karachi', 'hyderabad', 'islamabad', 'quetta', 'lahore')

In [31]:
visited_cities_tuple = ('islamabad', 'multan','faisalabad','quetta','peshawar')
visited_cities_tuple

('islamabad', 'multan', 'faisalabad', 'quetta', 'peshawar')

In [32]:
for city in cities_tuple:
    for visited_city in visited_cities_tuple:
        print(city, visited_city)

karachi islamabad
karachi multan
karachi faisalabad
karachi quetta
karachi peshawar
hyderabad islamabad
hyderabad multan
hyderabad faisalabad
hyderabad quetta
hyderabad peshawar
islamabad islamabad
islamabad multan
islamabad faisalabad
islamabad quetta
islamabad peshawar
quetta islamabad
quetta multan
quetta faisalabad
quetta quetta
quetta peshawar
lahore islamabad
lahore multan
lahore faisalabad
lahore quetta
lahore peshawar

In [33]:
employee = {
    'name' : 'sara',
    'email' : "abc@gmail.com",
    'education' : 'master'
}
employee.items()
# employee.keys()
# employee.values()

dict_items([('name', 'sara'), ('email', 'abc@gmail.com'), ('education', 'master')])

In [34]:
employee = {
    'name' : 'sara',
    'email' : "abc@gmail.com",
    'education' : 'master'
}

# for i in employee.items():
#     print(i)


for key,value in employee.items():
    print(key,value)

name sara
email abc@gmail.com
education master

In [35]:
employee = {
    'name' : 'sara',
    'email' : "abc@gmail.com",
    'education' : 'master'
}
for key in employee.keys():
    print(key)

name
email
education

In [36]:
employee = {
    'name' : 'sara',
    'email' : "abc@gmail.com",
    'education' : 'master'
}

for value in employee.values():
    print(value)

sara
abc@gmail.com
master

## while loop

In [37]:
# num = 0
# while num < 5:
#     print("loop is running : ", num)

In [38]:
num = 0
while num < 5:
    print("loop is running : ", num)
    num += 1
print('--->', num)

loop is running :  0
loop is running :  1
loop is running :  2
loop is running :  3
loop is running :  4
---> 5

In [39]:
num = 1
while num <= 5:
    print("loop is running : ", num)
    num += 1
print('--->', num)

loop is running :  1
loop is running :  2
loop is running :  3
loop is running :  4
loop is running :  5
---> 6

In [2]:
cities_to_visit = []
user_input = ''

while user_input != 'quit':
    city = input('Enter city to visit:')
    if city == 'quit':
        user_input = 'quit'
    else:
        cities_to_visit.append(city)
    
print(cities_to_visit)

Enter city to visit: karachi
Enter city to visit: lahore
Enter city to visit: quit

['karachi ', 'lahore']

## Nested While loop

In [42]:
# Define the tuples
cities = ('karachi', 'hyderabad', 'islamabad', 'quetta', 'lahore')
visited_cities = ('islamabad', 'multan', 'faisalabad', 'quetta', 'peshawar')

# Initialize the index for cities_tuple
i = 0

# Outer while loop for cities_tuple
while i < len(cities):
    # Initialize the index for visited_cities_tuple
    j = 0
    
    # Inner while loop for visited_cities_tuple
    while j < len(visited_cities):
        print(cities_tuple[i], visited_cities_tuple[j])
        j += 1  # Move to the next visited city
    
    i += 1  # Move to the next city in cities_tuple

karachi islamabad
karachi multan
karachi faisalabad
karachi quetta
karachi peshawar
hyderabad islamabad
hyderabad multan
hyderabad faisalabad
hyderabad quetta
hyderabad peshawar
islamabad islamabad
islamabad multan
islamabad faisalabad
islamabad quetta
islamabad peshawar
quetta islamabad
quetta multan
quetta faisalabad
quetta quetta
quetta peshawar
lahore islamabad
lahore multan
lahore faisalabad
lahore quetta
lahore peshawar

## String Formatting

In [43]:
name = 'sara'
email = 'abcd@gmail.com'

In [44]:
"Name: {}, Email: {}".format(name,email)

'Name: sara, Email: abcd@gmail.com'

In [45]:
"Name: {0}, Email:{1}".format(name,email)

'Name: sara, Email:abcd@gmail.com'

In [46]:
"Name: {name}, Email: {email}".format(name=name,email=email)

'Name: sara, Email: abcd@gmail.com'

In [47]:
"Name: {Name}, Email: {Email}".format(Name=name,Email=email)

'Name: sara, Email: abcd@gmail.com'

In [48]:
f'Name:{name}, Email:{email}'

'Name:sara, Email:abcd@gmail.com'

In [49]:
print("Name:", name,"Email:", email)

Name: sara Email: abcd@gmail.com