Q1. my_tuple = ( (1, 2, 3), [4, 5, 6], ("apple", "banana", "cherry"), [7, 8, 9] )
• Print all elements from my_tuple on a new line (using for loop)
• Create a new tuple by concatenating the first and last elements of my_tuple

In [1]:
my_tuple = ((1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9])
my_tuple

((1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9])

In [3]:
for i in my_tuple:
    print(i)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]

In [4]:
my_tuple = ((1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9])

first_element = my_tuple[0]

last_element = tuple(my_tuple[-1])

new_tuple = first_element + last_element

print(new_tuple)

(1, 2, 3, 7, 8, 9)

## Can't find the issue in above program as i am putting the same program in new file and its working fine.

Q2. inventory = {"The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price": 8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2},}
• Add a new book in inventory using method and get all book titles using method
• Remove a book if it's out of stock

In [1]:
inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price":8.99, "quantity": 8}, 
             "Harry Potter": {"price": 12.50, "quantity": 2}, }
inventory

{'The Great Gatsby': {'price': 10.99, 'quantity': 5},
 'Rich dad poor dad': {'price': 8.99, 'quantity': 8},
 'Harry Potter': {'price': 12.5, 'quantity': 2}}

In [31]:
inventory['Dark Psychology']= {'price': 9.99, 'quantity': 4}

In [32]:
inventory

{'The Great Gatsby': {'price': 10.99, 'quantity': 5},
 'Rich dad poor dad': {'price': 8.99, 'quantity': 8},
 'Harry Potter': {'price': 12.5, 'quantity': 2},
 'Dark Psychology': {'price': 9.99, 'quantity': 4}}

In [33]:
inventory.keys()

dict_keys(['The Great Gatsby', 'Rich dad poor dad', 'Harry Potter', 'Dark Psychology'])

In [34]:
books_to_remove = [title for title, details in inventory.items() if details["quantity"] == 2]

for book in books_to_remove:
    del inventory[book]

print("Updated inventory:", inventory)

Updated inventory: {'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Dark Psychology': {'price': 9.99, 'quantity': 4}}

Q3. An ecommerce store stores information about its products in a nested dictionary. The outer dictionary uses product IDs as keys, and the inner dictionary stores product details like name, category, price, and stock quantity.
products = { 101: {“name”: “Laptop”, “category”: “Electronics”, “price”: 1200, “stock”: 50}, 102: {“name”: “Shirt”, “category”: “Apparel”, “price”: 25, “stock”: 200}, 103: {“name”: “Coffee Maker”, “category”: “Home Appliances”, “price”: 80, “stock”: 30} }
• Increase the stock of the “Shirt” product (add 50 more units)
• Add a new product (e.g., “Smartphone”)

In [56]:
products = { 
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 
    102:{"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30}
}

product_IDs = list(products.keys())
product_details = list(products.values())

In [57]:
product_IDs

[101, 102, 103]

In [58]:
product_details

[{'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50},
 {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 200},
 {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30}]

In [60]:
products[102]['stock'] += 50

In [61]:
products

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30}}

In [62]:
products[104] = {"name": "Smartphone", "category": "Electronics", "price": 700, "stock": 60}

In [63]:
products

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30},
 104: {'name': 'Smartphone',
  'category': 'Electronics',
  'price': 700,
  'stock': 60}}

Q4. You are given a list that contains some duplicate items. Remove the duplicates by converting the
list to a set.
shopping_list = [“apple”, “banana”, “apple”, “orange”, “banana”, “grape”]

In [66]:
Fruit_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

New_list = set(Fruit_list)

In [67]:
New_list

{'apple', 'banana', 'grape', 'orange'}

Q5. You are managing a list of students enrolled in two different courses. You need to perform various set operations to understand the student enrollment. course_a = {“John”, “Alice”, “Bob”, “David”} course_b = {“Alice”, “Eve”, “Charlie”, “David”}
Task: Create two sets: one for students in “Course A” and one for students in “Course B”.
• Find students who are in Course A but not in Course B (difference)
• Find students who are only in one of the two courses (symmetric difference)

In [68]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}

difference_set = course_a - course_b
print(difference_set)

{'John', 'Bob'}

In [69]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}

print(course_a.symmetric_difference(course_b))

{'John', 'Charlie', 'Bob', 'Eve'}

Q6. Write a Python program that calculates the sum of all even numbers between 1 and 50 (inclusive) using a for loop.
Hint
1. Initialize a variable to hold the sum (e.g., sum_of_evens).
2. Use a for loop to iterate through all numbers from 1 to 50.
3. Inside the loop, check if the number is even.
4. If the number is even, add it to sum_of_evens.
5. After the loop finishes, print the total sum of all even numbers between 1 and 50.

In [77]:
sum_of_evens = 0

for number in range(1, 51):
    if number % 2 == 0:
        sum_of_evens += number

print("Sum of even numbers between 1 and 50:", sum_of_evens)

Sum of even numbers between 1 and 50: 650

Q7. Write a Python program that prints the multiplication table for a given number (between 1 and 10) using a for loop.
Hint:
1. Ask the user for a number between 1 and 10.
2. Use a for loop to iterate through the numbers from 1 to 10.
3. For each iteration, calculate the product of the given number and the current number in the loop.
4. Print the result in a readable format (e.g., 5 x 1 = 5).
5. Ensure the program works correctly for any number between 1 and 10.

In [97]:
number = int(input("Type a number between 1 to 10: "))

if 1 <= number <= 10:
    print(f"Table of {number}:")
    for i in range(1,11):
        result = number * i
        print(f"{number} x {i} = {result}")
else:
    print("Please, Enter a number btw 1 to 10.")

Type a number between 1 to 10:  9

Table of 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Q8. Power of a Number, Write a Python program that takes a number and prints the powers of the number (starting from 1 to 10) using a while loop. For example, if the user inputs 3, the output should be:
3^1 = 3
3^2 = 9
3^3 = 27
... up to 3^10.

In [104]:
number = int(input("Type a number between 1 to 10: "))

if 1 <= number <= 10:
    print(f"Power of {number}:")
    i = 1
    while i <= 10:
        result = number ** i
        print(f"{number} ^ {i} = {result}")
        i += 1
else:
    print("Please, Enter a number btw 1 to 10.")

Type a number between 1 to 10:  10

Power of 10:
10 ^ 1 = 10
10 ^ 2 = 100
10 ^ 3 = 1000
10 ^ 4 = 10000
10 ^ 5 = 100000
10 ^ 6 = 1000000
10 ^ 7 = 10000000
10 ^ 8 = 100000000
10 ^ 9 = 1000000000
10 ^ 10 = 10000000000

Q9. Problem Statement: Write a Python program that takes an integer input from the user and counts down from that number to 0. The program should display the current number at each step until it reaches 0, at which point it should print a message indicating the countdown is finished
Output Hint:
Enter a number to start the countdown: 3
3
2
1
0
Countdown finished!

In [110]:
num = int(input("Enter a number to start the countdown: "))

while num >= 0:
    print(num)
    num -= 1

print("Countdown finished!")

Enter a number to start the countdown:  10

10
9
8
7
6
5
4
3
2
1
0
Countdown finished!

Q10. Write a Python program that takes an integer input n from the user and generates a right-angled triangle pattern of stars (*) with n rows. The first row should contain 1 star, the second row 2 stars, the third row 3 stars, and so on until the nth row.
Ensure the stars in each row are separated by spaces, and each row starts on a new line.
Pattern:
*
**
***
****
*****

In [113]:
num = int(input("# Pattern: "))

for i in range(1, num+1):
    print("*" * i)

# Pattern:  10

*
**
***
****
*****
******
*******
********
*********
**********