## Functions

In Python, a function is a reusable block of code that performs a specific task. Functions allow us to group related tasks together meaning that you can break down complex programs into smaller, more manageable pieces.

### Why Use Functions?

Reusability: Once a function is defined, you can call it multiple times without having to rewrite the same code.
Organization: Functions allow you to organize your code logically into blocks, making it easier to understand.
Abstraction: Functions can hide complex implementation details, exposing only whatâ€™s necessary.

## Defining a Function

In [3]:
def function_name(parameters): #parameters/arguments (optional)
    # Function body
    # Code to be executed
    return value #(depends on condition)

In [4]:
def greet():
    print('Welcome')

In [5]:
greet()
greet()
greet()

Welcome
Welcome
Welcome

In [6]:
#syntax 
def greet():
    print('Hello! User')

greet()

Hello! User

In [7]:
#my first function in python
def message():
    print('Hello World')

message()

Hello World

In [8]:
def message:
    print('Hello World')

message

SyntaxError: expected '(' (2352193185.py, line 1)

In [9]:
def greet(name):
    print('Hello', name)

greet('ali')
greet('aymen')

Hello ali
Hello aymen

In [11]:
#Function with Parameters
def greet(name):
    print('Hello',name)
    return

greet('abc')

Hello abc

In [12]:
greet('abbas')

Hello abbas

In [13]:
#Function with Parameters
def greet(name):
    print('Hello',name)
    return 

greet('abc')

Hello abc

In [14]:
def greet(name):
    print('Hello',name)
    return 0

greet('abc')

Hello abc

0

In [15]:
#Function with Parameters
def greet(name):
    print(f"Hello, {name}!")

In [16]:
#Function with Parameters
def greet(name):
    print(f"Hello, {name}!")

greet('qasim')
greet('zeeshan')

Hello, qasim!
Hello, zeeshan!

In [17]:
def greet(name="Guest"):
    print('welcome',name)

greet()

welcome Guest

In [18]:
greet('habib')

welcome habib

In [19]:
#Default Arguments
def greet(name="Guest"):
    print(f"Hello, {name}!")

greet()
greet('ali')
greet()
greet()

Hello, Guest!
Hello, ali!
Hello, Guest!
Hello, Guest!

In [2]:
def add(a=2,b=4):
    return a+b

In [20]:
def add(a=2,b=4):
    return a+b

add()

6

In [21]:
def add(a=2,b=4):
    print(a+b)

add(22,33)

55

In [22]:
def add(a=2,b=4):
    print(b+a)
    print(a+b)
    return a+b
    return b+a

add()

6
6

6

In [82]:
# Answer provided above is of upper 3 statements.

In [23]:
def add(a=2,b=4,c=5):
    print(b+a)
    print(a+b)
    return a+b+c
    return a-b

add()

6
6

11

In [28]:
def add(a=2,b=4,c=22):
    print(b+a)
    print(a+b)
    return a-b
        return a+b

IndentationError: unexpected indent (3939659742.py, line 5)

In [83]:
# Multiple Parameters
def add(a, b):
    return a + b

add(5,7)

12

In [31]:
# Multiple Parameters
def add(a, b):
    return int(a + b)
    
add(3.2,'abc')

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [32]:
def fruits(*abc):
    return abc

fruits('apple','orange','cherry')

('apple', 'orange', 'cherry')

In [33]:
def fruits(*abc):
    return abc

fruits(a='apple',b='orange',c='cherry')

TypeError: fruits() got an unexpected keyword argument 'a'

In [34]:
def fruits(*abc):
    return list(abc)

fruits('apple','orange','cherry')

['apple', 'orange', 'cherry']

In [35]:
def subtract(a, b):
    print(return a - b)

subtract(b=3, a=10)

SyntaxError: invalid syntax (685269262.py, line 2)

In [36]:
# def subtract(a, b):

return(22-2)

# subtract(b=3, a=10)

SyntaxError: 'return' outside function (39375614.py, line 3)

In [37]:
def greet(**xyz):
    return xyz

greet(name='umair', age=22)

{'name': 'umair', 'age': 22}

In [38]:
def greet(**abc):
    print(f"Hello, {abc['name']}!")

greet(name="Alice")

Hello, Alice!

In [39]:
def job(**kwargs):
    print('Job Title:', kwargs)

job()

Job Title: {}

In [40]:
def job(**kwargs):
    print('Job Title:', kwargs['title'])

job(title='Sales')

Job Title: Sales

In [41]:
def xyz(**pqr):
    for i,v in pqr.items():
        print(f"{i}:{v}")

xyz(age=22, name='ali', job='data analyst', salary="500k")

age:22
name:ali
job:data analyst
salary:500k

In [42]:
# Positional Arguments
def subtract(a, b):
    return b-a
    
subtract(22,222)

200

In [43]:
# Keyword Arguments
def subtract(a, b):
    return a - b

subtract(b=3, a=10)

7

In [44]:
def subtract(a, b=5):
    return a - b

subtract(b=3, a=10)

7

In [45]:
def subtract(a, b=5):
    return a - b

subtract(a=10)

5

In [46]:
def subtract(a, b):
    return a - b

subtract(a=10)

TypeError: subtract() missing 1 required positional argument: 'b'

# Variable-length Arguments

In [47]:
def add(*abc):
    return sum(abc)

# add(1,2,5,6,7)
add(1,2,'abc')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
# def add(*abc):
#     return

sum(1,2,4)

TypeError: sum() takes at most 2 arguments (3 given)

In [49]:
sum(1,2)

TypeError: 'int' object is not iterable

In [50]:
print(sum(1,2))

TypeError: 'int' object is not iterable

In [51]:
x = (1,2,3,4)
y= 22
sum(x)

10

In [52]:
sum((1,4,6,7))

18

In [53]:
sum([1,2,3,5])

11

In [54]:
sum([1,2,3,5],2)

13

In [55]:
sum([1,2,3,5])

11

In [56]:
# Signature: sum(iterable, /, start=0)
# Docstring:
# Return the sum of a 'start' value (default: 0) plus an iterable of numbers

# When the iterable is empty, return the start value.
# This function is intended specifically for use with numeric values and may
# reject non-numeric types.
# Type:      builtin_function_or_method

In [57]:
# sum(iterable, /, start=0)

In [58]:
# **iterable** (required): This is the first argument, and it represents a collection of numbers (e.g., a list, tuple, or any other iterable)
# whose sum is to be calculated.

In [59]:
# **start (optional):**This is the second argument and has a default value of 0. It adds a starting value to the sum of the elements in the iterable. 
# For instance, if the iterable is empty, it will return this start value. If no start value is provided, the default value of 0 will be used.

# The reason for taking a single argument in some cases is when you are using sum() with just the iterable, leaving the default start value of 0 
# to be applied automatically.

In [60]:
sum([1,2,3,5],2)

13

In [61]:
sum([1,2,3,5],start=2)

13

In [62]:
sum([1,2,3,5],[1,2,3])

TypeError: can only concatenate list (not "int") to list

In [63]:
sum([1,2,3,5],2,4)

TypeError: sum() takes at most 2 arguments (3 given)

In [64]:
# *args collects extra positional arguments into a tuple.
def add(*args):
    return sum(args)

add(1,2,3,4,56)
# print(add(1, 2, 3))
# print(add(4, 5, 6, 7))

66

In [65]:
def greet(*args):
    for name in args:
        print(f"Hello, {name}!")
        
greet("Alice", "Bob", "Charlie")

Hello, Alice!
Hello, Bob!
Hello, Charlie!

In [66]:
def greet(**xyz):
    print(f"Hello!, {xyz['name']}")

greet(name='basit')

Hello!, basit

In [67]:
def greet(**xyz):
    print(f"Hello!, {xyz['name']}")

greet(xyz)

TypeError: greet() takes 0 positional arguments but 1 was given

In [68]:
def greet(**xyz):
    print(f"Hello!, {xyz['name']}")

greet(name='basit','ali')

SyntaxError: positional argument follows keyword argument (3972851776.py, line 4)

In [69]:
def greet(**xyz):
    print(f"Hello!, {xyz['name']}")

greet(name='basit',abc='ali')

Hello!, basit

In [70]:
def greet(**xyz):
    print(f"Hello!, {xyz['abc']}")

greet(name='basit',abc='ali')

Hello!, ali

In [71]:
def greet(**xyz):
    print(f"Hello!, {xyz['name']}")

greet(name='basit',name='ali')

SyntaxError: keyword argument repeated: name (1624490747.py, line 4)

In [72]:
def greet(**xyz):
    print(f"Hello!, {xyz['name']}")

greet(name='basit',abc='ali')

Hello!, basit

In [73]:
# **kwargs collects extra keyword arguments into a dictionary.
def greet(**kwargs):
    print(f"Hello, {kwargs['name']}!")

greet(name="Alice",'ali')

SyntaxError: positional argument follows keyword argument (774707235.py, line 5)

In [74]:
def greet(**kwargs):
    print(f"Hello, {kwargs['name']}!")

greet(name="Alice")

Hello, Alice!

In [75]:
def greet(**abc):
    print(f"Hello, {abc['name']}!")

greet(name="Alice")

Hello, Alice!

In [76]:
def job(**kwargs):
    print('Job Title:', kwargs)

job()

Job Title: {}

In [77]:
def job(**kwargs):
    print('Job Title:', kwargs['title'])

job(title='Sales')
job(title='accountant')
job(title='businessman')

Job Title: Sales
Job Title: accountant
Job Title: businessman

In [78]:
def job(**kwargs):
    print('Job Title:', kwargs)

job(title='Sales')
job(title='accountant')
job(title='businessman')

Job Title: {'title': 'Sales'}
Job Title: {'title': 'accountant'}
Job Title: {'title': 'businessman'}

In [79]:
def describe_person(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")
        
describe_person(name="Alice", age=30, job="Engineer")

name: Alice
age: 30
job: Engineer

In [80]:
def pqr(**kwargs):
    for abc, xyz in kwargs.items():
        print(f"{abc}:{xyz}")

pqr(name="Alice", age=30, job="Engineer")

name:Alice
age:30
job:Engineer

In [81]:
def pqr(**kwargs):
    print(kwargs)

pqr(name="Alice", age=30, job="Engineer")

{'name': 'Alice', 'age': 30, 'job': 'Engineer'}